{% load staticfiles %}
<div class="tab-pane active" id="tab_a">
    <div class="features_items">
        {% for choice in pizzasclassic %}
        <div class="col-sm-4 col-sm-offset-1">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="{{choice.image.url}}" height="200" width="200" alt="" />
                        <p>{{ choice.pizza_name }}</p>
                        {% if not order %}
                        <a href="{% url 'selected' choice.id 1 %}" class="btn btn-default add-to-cart"><i class="fa fa-plus"></i>Customize</a>
                        {% endif %}
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <p>{{ choice.pizza_name }}</p>
                            <p>{{ choice.pizza_description}}</p>
                            <p>Starting From: 8.00</p>
                            {% if not order%}
                            <a href="{% url 'selected' choice.id 1 %}" class="btn btn-default add-to-cart"><i class="fa fa-plus"></i>Customize</a>
                            {% endif %}
                        </div>
                    </div>
                    <img src="{% static 'reservetion/images/home/new.png' %}" class="new" alt="" />
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-sm-offset-6">
        <ul class="pagination">
            <li>{% if pizzasclassic.has_previous %}
                <a href="?page={{ pizzasclassic.previous_page_number }}">&laquo;</a>
                {% endif %}
            </li>
            {% for i in pizzasclassic.paginator.page_range %} {% ifequal i pizzasclassic.number %}
            <li class="active"><a href="?page={{ i }}">{{i}}</a>
            </li>
            {% else %}
            <li><a href="?page={{ i }}">{{i}}</a>
            </li>
            {% endifequal %} {% endfor %}
            <li>{% if pizzasclassic.has_next %}
                <a href="?page={{ pizzasclassic.next_page_number }}">&raquo;</a>
                {% endif %}</li>
        </ul>
    </div>
</div>
